# dependencies
node_modules

# build files
/build
/.svelte-kit
/package

# dotenv environment variable files
.env
.env.*
!.env.example

# npm files
.npm
.npmrc
.npmignore

# vite configs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE configs
.idea/

# miscellaneous
.DS_Store
.*.swp
._*
.git
